/* Wrapper */
#snake-wrapper{
	width: 120px;
	display: block;
	margin: 0px auto;
}

/* Table Formatting */
td {
	height: 10px;
	width: 10px;
}

/* Snake Styling 
		HTML colors found here: http://www.computerhope.com/htmcolor.htm
*/
td.snake-head{
	background-color: #82CAFA;
}

td.snake-body{
	background-color: #3BB9FF;
}

td.food{
	background-color: #FFA62F;
}

/* Bottom Text */
#disclaimer-wrapper{
	width: 200px;
	text-align: justify;
}

#disclaimer{
	color: #B6B6B6;
	font-style: italic;
}