.board {
  width: 480px;
  border: 1px solid #666;
}

.unit {
  height: 48px;
  width: 48px;
  background-color: #ccc;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #666;
  box-sizing: border-box;
}

.food {
  background-color: orange;
}

.snake {
  background-color: lightgreen;
}

.head {
  background-color: green;
}

.right {
  border-radius: 0 100% 100% 0;
}

.left {
  border-radius: 100% 0 0 100%;
}

.up {
  border-radius: 100% 100% 0 0;
}

.down {
  border-radius: 0 0 100% 100%;
}

.dead {
  background-color: red;
}