.box {
  border: 1px solid yellow;
  background-color: black;
  margin: 0 auto;
  position: relative;
}

.food {
  background-color:red;
  position: absolute;
}

.snake {
  background-color: #ffa500;
  position: absolute;
}