
.row {
  clear: left;
}

.cell {
  height: 10px;
  width: 10px;
  float: left;
  background-color: #eee;
}

#apple {
  background-color: #FF0000;
  border-radius: 50%;
}

.snake-body {
  background-color: #00FF66
}

.snake-head {
  background-color: #33CC66
}