
body {
  background-color: #efefef;
  font-family: 'VT323', monospace;
  height:100%;
  text-align: center;
  font-size:16px;
}

h1 {
  font-weight:bold;
  font-size:50px;
}

.reset {
  font-size: 20px;
}

#grid {
background: #fff;
margin: 0 auto;
width:400px;
height:400px;
position:relative;
}

.score {
  margin:20px;
}

.opacity .part, .opacity .snack {
  opacity: .4;
}

.instructions {
  padding:20px;
  font-size:20px;
}

.instructions + .part {
  opacity: 1;
}

.game-over {
  font-size:30px;
}

.snack {
  position:absolute;
  color: #fff;
  background: #ffc000;
  width:10px;
  height:10px;

}

#score {
  text-align:left;
  width:400px;
  margin:10px auto;
}
.part {
  background: #333;
  height:10px;
  width:10px;
  position:absolute;
}

.v-middle {
      position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btn{
  margin: 20px auto;
  display: block;
padding: 10px;  
min-width:100px;
max-width:150px;
border: 2px solid #333;
text-decoration: none;
color: #333;

}

.btn:hover {
  background: #333;
  color: #fff;
}