/*
  Application
*/

#games-make {
  margin-top: 256px;
}

#games-show {
  position: relative;
  width: 768px;
  height: 512px;
  margin: 0 auto;
  border: 1px solid #222;
}

.segment {
  background: #4BF63F;
}

.food {
  background: #D1F64A;
}

.food,
.segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.error {
  background: #F68081;
}

